[submodule "src/libs/bcc"]
	path = src/libs/bcc
	url = https://github.com/polycube-network/bcc.git
	ignore = untracked
	branch = polycub
[submodule "src/components/iptables/iptables"]
	path = src/components/iptables/iptables
	url = https://github.com/polycube-network/iptables.git
	branch = polycube
[submodule "src/libs/prometheus-cpp"]
	path = src/libs/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp.git