[submodule "src/libs/bcc"]
	path = src/libs/bcc
	url = https://github.com/sebymiano/bcc.git
	ignore = untracked
	branch = polycube_on_v0.12.0
[submodule "src/components/iptables/iptables"]
	path = src/components/iptables/iptables
	url = https://github.com/polycube-network/iptables.git
	branch = polycube
